services:

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: P455w0Rd!
    ports:
      - 27017:27017
    expose:
      - 27017
    volumes:
      - ./mongostore:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: P455w0Rd!
      ME_CONFIG_MONGODB_URL: mongodb://root:P455w0Rd!@mongo:27017/
      ME_CONFIG_BASICAUTH: false

  referrer-emailer:
    image: referrer-emailer:latest
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      MONGO_DB_URI: mongodb://root:P455w0Rd!@mongo:27017

networks:
  referrer-mailer-subnet:
