<app-subhero title="Welcome back, Sounish! 👋" subtitle="Let's write a referral request today!"></app-subhero>

<div class="my-4 md:my-10">
    <h3 class="text-xl text-gray-800 font-semibold md:text-2xl"> &bull; Tailored referral templates ✍️</h3>
</div>
<div class="max-w-5xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 items-center justify-center my-8 mx-8">
    @for (item of templatesInformations; track $index) {
    <div class="card">
        <app-top-templates routerLink="draft-with-ai" [queryParams]="{template: item.label}"
            [templatesInformation]="item"></app-top-templates>
    </div>
    }
</div>


<!-- craft resume AI section -->
<div class="flex flex-row gap-4 items-center justify-around">
    <button class="button-blue" routerLink="craft-resume">📄 Craft Tailored Resume &#8629;</button>
    <button class="button" routerLink="email-drafter">✍️ Write your own from scratch &rarr;</button>
</div>