<div class="flex items-center justify-between p-4 bg-white shadow-sm">
    <div class="flex items-center space-x-4">
        <a *ngFor="let item of [
            { label: 'Home', link: '/dashboard', queryParams: null },
            { label: 'Network', link: 'network', queryParams: null },
            { label: 'Preview Resume', link: 'profile/resume', queryParams: null },
            { label: 'Profile Analytics', link: 'profile/analytics', queryParams: null },
            { label: 'Update Profile', link: 'profile/update', queryParams: {email: ownerEmailAddress} },
            { label: 'Tailored Resumes', link: 'craft-resume-list', queryParams: null }
        ]" [routerLink]="item.link" [queryParams]="item.queryParams"
            class="px-3 py-2 text-sm font-medium text-gray-700 rounded-lg hover:bg-gray-100">
            {{ item.label }}
        </a>
    </div>
</div>
