<div class="grid auto-cols-[minmax(0, 3fr)] grid-flow-col content-center rounded-lg">
    <div class="lg:block hidden max-w-xs bg-gray-100">6</div>
    <div>
        <div class="flex flex-col gap-6 items-center justify-center min-h-screen">
            <div>
                <p class="text-xl md:text-3xl font-semibold">Welcome back, Sounish! 👋</p>
            </div>
            <div class="text-sm text-indigo-600 font-semibold">Let's write an refferal request today!</div>
            <router-outlet class="w-full"></router-outlet>
        </div>
    </div>

</div>