<div class="p-4">
    <h2 class="text-lg font-semibold text-gray-800 mb-4">Sent Referrals</h2>
    <div class="mb-4">
        <input type="text" placeholder="Search by company..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)"
            class="w-full px-4 py-2 text-gray-700 bg-gray-100 border border-gray-200 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
    </div>
    <div class="flex flex-col gap-2">
        <a routerLink="/dashboard" class="flex items-center gap-2 p-2 rounded-lg text-gray-700 hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zM5.5 9a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM10 14a4 4 0 110-8 4 4 0 010 8zm4.5-5a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
            </svg>
            <span>Inbox</span>
        </a>
        <hr />
        <div class="overflow-y-auto h-screen">
            @if (sentReferrals && sentReferrals.length > 0) {
                @for (item of sentReferrals; track item.uuid) {
                    <a [routerLink]="['sent-referrals', item.uuid]"
                        class="flex items-start gap-3 p-2 rounded-lg text-gray-700 hover:bg-gray-100">
                        <div class="flex flex-col">
                            <span class="text-sm font-semibold text-gray-800">{{ getCompanyName(item.subject) }}</span>
                            <div class="flex items-center gap-2 text-xs text-gray-500">
                                <span>To: {{ getEmailPrefix(item.to[0]) }}</span>
                                <span class="text-gray-300">•</span>
                                <span>{{ item.createdAt | date:'MMM d' }}</span>
                            </div>
                        </div>
                    </a>
                }
            } @else {
                <div class="text-center text-sm text-gray-500 mt-4">No referrals found.</div>
            }
        </div>
    </div>
</div>
