<div class="send-emailer-users flex flex-col gap-3 m-2 overflow-y-scroll h-screen">
    <div class="cursor-pointer text-blue-800" routerLink="/dashboard">
        <p class="my-2">✉️ Referrals Sent Box</p>
        <hr />
    </div>

    @if (sentReferrals.length) {
    @for (item of sentReferrals; track $index) {
    <div class="email-users" [routerLink]="['sent-referrals', item.uuid]">
        <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairDreads&accessoriesType=Prescription01&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Happy&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light'
            class="w-10" />

        <div class="flex flex-col gap-1">
            <div>
                <span class="text-xs font-semibold text-blue-800" style="line-height: 1;">
                    &bull;
                    {{
                    (item.subject.length > 60 ? (item.subject | titlecase).slice(0, 60) + '...' : (item.subject |
                    titlecase))
                    }}
                </span>
            </div>
        </div>

    </div>

    }
    } @else {
    <div class="mt-5 text-indigo-700 text-center text-xs rounded-md p-2 bg-indigo-100 text-semibold">No referrals asked
        yet.
    </div>
    }
</div>