.email-pill {
    @apply bg-indigo-100 text-indigo-800 text-xs me-2 px-2.5 py-0.5 rounded cursor-pointer;
}

.form-control-input-box {
    @apply block w-full rounded-md bg-white text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 px-3 py-1.5 text-base sm:text-sm/6 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 dark:bg-gray-900 dark:text-gray-100 dark:outline-gray-700 dark:focus:outline-indigo-500;
}