<app-subhero title="Email Writing Assistant" [subtitle]="template || ''"></app-subhero>

<div class="mx-auto p-6 bg-white rounded-lg border">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6"> &bull; {{template}} Cold Mail </h2>

    <form [formGroup]="emailReferralForm" class="space-y-4" autocomplete="off" (ngSubmit)="sendEmail()">
        <div>
            <label for="to-users" class="block text-sm font-medium text-gray-700 mb-2">To Users</label>
            <input type="email" formControlName="to" id="to-users" name="to-users" class="form-control-input-box"
                placeholder="Enter recipient email addresses">
            <div class="form-control-errors" *ngIf="formErrors.to">
                <span *ngIf="formErrors.to.required">* Email required</span>
                <span *ngIf="formErrors.to.email">* Not a valid email address</span>
            </div>
        </div>

        <div>
            <label for="job-urls" class="block text-sm font-medium text-gray-700 mb-2">Job URLs</label>
            <textarea id="job-urls" formControlName="jobUrls" name="job-urls" rows="2" class="form-control-input-box"
                placeholder="Enter job urls"></textarea>
            <div class="form-control-errors" *ngIf="formErrors.jobUrls">
                <span *ngIf="formErrors.jobUrls.required">*Job URLs required</span>
                <span *ngIf="formErrors.jobUrls.pattern">* Not a valid URLs</span>
            </div>
        </div>
        <div>
            <label for="job-description" class="block text-sm font-medium text-gray-700 mb-2">Job Description
                (Optional)</label>
            <textarea id="job-description" formControlName="jobDescription" name="job-description" rows="2"
                class="form-control-input-box" placeholder="Enter job description"></textarea>
        </div>
        <div>
            <label for="template-type" class="block text-sm font-medium text-gray-700 mb-2">Template Type</label>
            <input type="text" formControlName="templateType" id="template-type" name="template-type"
                class="form-control-input-box" aria-disabled="true">
        </div>
        <div>
            <label for="subject-line" class="block text-sm font-medium text-gray-700 mb-2">Subject Line</label>
            <input type="text" formControlName="subject" id="subject-line" name="subject-line"
                class="form-control-input-box" placeholder="Enter subject line">
            <div class="form-control-errors" *ngIf="formErrors.subject">
                <span *ngIf="formErrors.subject.required">* Subject is required</span>
            </div>
        </div>

        <div class="NgxEditor__Wrapper form-control-input-box w-full h-72 overflow-y-scroll">
            <label for="subject-line" class="block text-sm font-medium text-gray-700 mb-2">Mail body (Optional)</label>
            <ngx-editor-menu [editor]="editorBox"></ngx-editor-menu>
            <ngx-editor aria-multiline="true" [editor]="editorBox"
                [placeholder]="'Start typing your customized referral message...'" [spellcheck]=true
                formControlName="body" [(ngModel)]="html" placeholder="Enter email body"></ngx-editor>
        </div>
        <div class="form-control-errors" *ngIf="formErrors.body">
            <span *ngIf="formErrors.body.required">* Body is required</span>
        </div>

        <div class="flex justify-between items-center">
            <button type="button" (click)="generateAiEmail()" [disabled]="emailReferralForm.invalid"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                AI Magic (Gemini)
            </button>
            <button type="submit" [disabled]="emailReferralForm.invalid"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                Send Email
            </button>
        </div>
    </form>
    <div class="mt-6">
        <h3 class="text-lg font-medium text-gray-800">Preview</h3>
        <div class="mt-2 p-4 bg-gray-100 rounded-md shadow-inner">
            <p class="text-sm text-gray-700" id="preview-body">Your AI-generated email will appear here...</p>
        </div>
    </div>
</div>